<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    <title>{{ .Title | markdownify }}</title>   
</head>

<!-- <div style="text-align: right;float: right; margin-left: auto;"><img src="/73PrimeFull.png" width="60"/></div> -->
    {{ with .Site.Params.videoBackground }}
        <video class="video" autoplay muted preload loop playsinline>
            {{ range .sources }}
                <source
                    src="{{ .source }}"
                    type="{{ .type }}"
                    poster="{{ .poster }}" />
            {{ end }}
        </video>
        {{ with .overlay }}
            <div id="overlay" style="background: {{ . | safeCSS }};"></div>
        {{ end }}
    {{ end }}

    <nav role="navigation" class="flex-container" id="splash">

        {{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
            <a href="{{.link}}" class="big-link">
                {{.text}}
            </a>
        {{ end }}

        {{ else }}
        {{ range .Site.Sections }}
            <a href="{{.RelPermalink}}" class="big-link">
                {{.Title | markdownify}}
            </a>
        {{ end }}
        {{ end }}

    </nav>
    <p>{{ .Site.Params.footerText | markdownify }}</p>
    <style>
img.sticky {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  float: left; 
  opacity: 80%;
}
</style>
<img class="sticky" src="/73Prime-yellow-cursive-128.png" alt="73'">
</body>

</html>
